nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar {
  /* height: auto; */
  background-color: #5d585c;
  color: white;
  width: 100%;

  /* vertical-align: middle; */

  vertical-align: middle;
  

}

.navbar-brand {
  font-size: 30px;
  /* margin-right: 20px; */
}

ul.nav li a:hover,
ul.nav li a:active {
  color: white !important;
}

ul.nav li.active a {
  color: white !important;
}
